parameters:
    debugMode: 'auto'
    strictMode: false

application:
    mapping: App\ApiModule\Presenters\*Presenter

database:
    user: %database.user%
    password: %database.password%
    dsn: "mysql:host=%database.host%;port=%database.port%;dbname=%database.name%"
    options:
        lazy: true

http:
    headers:
        X-Powered-By: off

tracy:
    # email:
    # fromEmail:
    logSeverity: E_ERROR
    maxLength: 150
    maxDepth: 10
    dumpTheme: 'dark'
    showLocation: true
    strictMode: false

di:
    export:
        parameters: yes
        tags: no
